@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

nav {
    float:left;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #045D8B;
    }
    
    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      
      #main-menu > li {
        float: left;
        position: relative;
      }
      
      #main-menu > li > p {
        color:aliceblue; 
        text-align: center;
        text-decoration: none;
        letter-spacing: 0.05em;
        display: block;
        padding: 14px 100px;
        line-height: 5px;
        border-right: 1px solid #045D8B;
        text-shadow: 1px 1px 1px #045D8B;
      }

      #main-menu > li > span {
        color:aliceblue; 
        text-align: center;
        text-decoration: none;
        letter-spacing: 0.05em;
        display: block;
        padding: 14px 100px;
        line-height: 5px;
        border-right: 1px solid #045D8B;
        text-shadow: 1px 1px 1px #045D8B;
      }
      #main-menu > li > a {
        color:aliceblue; 
        text-align: center;
        text-decoration: none;
        letter-spacing: 0.05em;
        display: block;
        padding: 14px 100px;
        text-shadow: 1px 1px 1px #045D8B;
      }
      
      #main-menu > li:nth-child(1) > a {
        border-left: 1px solid #045D8B;
      }
      
      #sub-menu {
        position: absolute;
        background: #CFDAFF;
        opacity: 0;
        width: 178px;
        height:564px;
        top: 60px;
        visibility: hidden;
        transition: all 0.15s ease-in;
      }
      
      #sub-menu > li {
        padding: 16px 28px;
        border-bottom: 1px solid #045D8B;
      }
      
      #sub-menu > li >  a {
        font-style: normal;
        font-weight: normal;
        color: #000000;
        text-decoration: none;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
      }
      
      #main-menu > li:hover #sub-menu {
        opacity: 1;
        visibility: visible;
      }
      
      #sub-menu > li >  a:hover {
       text-decoration: underline;
      }
      .page{
        margin-top:100px;
    }
    .board{
      position: absolute;
      width: 350px;
      height: 359px;
      left: 75px;
      top: 146px;
      border: 1px solid #045D8B;
      box-sizing: border-box;
      border-radius: 10px;
    }
    
    .form_text_alert_padding{
      padding-bottom: 10px;
    }
    
    .form_input{
      width: 98%; 
      height: 30px; 
      border: 1px solid; 
      border-radius: 3px; 
      border-color: gray;
    }
.container_pick{
    margin-top:100px;
    margin-left:500px;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.chat {
    margin:100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 340px;
    height: 540px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #333333;
    background-color: #ffffff;
    overflow: hidden;
}

.header {
    display: flex;
    height: 60px;
    padding: 12px 5px 8px;
    align-items: center;
    box-shadow: 0 0 4px #999999;
}

.info-block {
    margin-left: 12px;
    margin-right: 95px;
}

.username {
    margin: 0 0 3px;
    font-size: 16px;
}

.status {
    margin: 0;
    font-size: 12px;
    color: #999999;
}

.call-box {
    display: flex;
    width: 60px;
    justify-content: space-between;
}

#chat-box {
    height: 400px;
    padding: 12px 10px;
    overflow: scroll;
}

.bubble {
    margin: 5px 0;
    display: inline-block;
    max-width: 300px;
    font-size: 14px;
    position: relative;
}

.friend-bubble {
    background-color: #f3f0f5;
    border-radius: 14px 14px 14px 0;
    padding: 7px 15px 7px 15px;
    float: left;
    clear: both;
    color: #8f00fe;
}

.my-bubble {
    background-color: #8f00fe;
    border-radius: 14px 14px 14px 0;
    padding: 7px 15px 7px 15px;
    float: right;
    clear: both;
    color: #ffffff;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 80px;
    padding: 10px;
    position: absolute;
    bottom: 0;
}

#input {
    width: 90%;
    height: 100%;
    padding: 10px;
    background-color: #e8e8e8;
    border: none;
    border-radius: 10px;
    resize: none;
}
.page{
  margin:200px;
}